* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#eb2f64), to(#ff3366));
  background-image: -webkit-linear-gradient(left top, #eb2f64, #ff3366);
  background-image: -o-linear-gradient(left top, #eb2f64, #ff3366);
  background-image: linear-gradient(to right bottom, #eb2f64, #ff3366);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  color: #777;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

.content {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 18%;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  background-color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-view {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2;
}

.description {
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
}

.user-reviews {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  padding: 0.7rem 2rem;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  width: 90%;
  margin-right: -3.25rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.search__input:focus {
  width: 100%;
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:-ms-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input::-ms-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input::placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.search__input:focus + .search__button {
  outline: none;
  background-color: #f0eeee;
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #999;
}

.user-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}

.user-nav > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 2rem;
  height: 100%;
}

.user-nav > *:hover {
  background-color: #f4f2f2;
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #777;
}

.user-nav__notification {
  position: absolute;
  background-color: #eb2f64;
  width: 1.75rem;
  height: 1.75rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1.5rem;
  left: 3.5rem;
  color: white;
  font-size: 0.8rem;
}

.user-nav__user-photo {
  height: 3.75rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #eb2f64;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: #ff3366;
}

.side-nav__link:link, .side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: #ccc;
  padding: 2.5rem;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gallery__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f4f2f2;
}

.overview__heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: #eb2f64;
}

.overview__location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__icon-location {
  margin-right: 0.5rem;
}

.overview__rating {
  background-color: #eb2f64;
  margin-left: 3rem;
  color: #fff;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.25rem;
}

.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -3px;
}

.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  color: #eb2f64;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  display: inline-block;
  padding-bottom: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-inline:hover {
  color: #333;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.btn-inline span {
  margin-left: 3px;
  -webkit-transition: margin-left 0.2s;
  -o-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}

.btn-inline:hover span {
  margin-left: 8px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  margin: 3rem 0;
  padding: 3rem 0;
  list-style: none;
  border-top: 1px solid #f4f2f2;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.7rem;
}

.list__item::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: #eb2f64;
  margin-right: 0.7rem;
  -webkit-mask-image: url(../img/chevron-thin-right.svg);
          mask-image: url(../img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
}

.recommend {
  font-size: 1.3rem;
  color: #999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  margin-right: auto;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #fff;
}

.recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

.review {
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
}

.review__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.review__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 1.5rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.review__user-date {
  font-size: 1rem;
  color: #999;
}

.review__rating {
  color: #eb2f64;
  font-size: 2.2rem;
  font-weight: 300;
}

.review::before {
  content: "\201c";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: #f4f2f2;
  font-family: sans-serif;
  z-index: 1;
}
